<html>

<head>
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" rel="stylesheet" type="text/css">

  <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>

</head>

<body>
  <H1>Stock Ticker</H1>

  <form action="/">
    <select name="Stock Symbol">
      {% for stck in stock_symbol %}
      {% if stck == current_stock %}
      <option selected value="{{ stck }}">{{ stck }}</option>
      {% else %}
      <option value="{{ stck }}">{{ stck }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <input type="submit">
  </form>

  {{ script|safe }}
  {{ div|safe }}

</body>

</html>